* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(
        to bottom,
        #009688 0px,
        #009688 15vh,
        #dddbd1 15vh,
        #d2dbdc 100%
    );
}

ul,
ol,
menu {
    list-style: none;
}

img {
    max-width: 100%;
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);  
    background-color: white;
}
.col-3 {
	flex-basis: calc((100% / 12) * 3);  
}

.col-8 {
	flex-basis: calc((100% / 12) * 8);
    display: flex;
    flex-direction: column;
}

.col-9 {
	flex-basis: calc((100% / 12) * 9);  
}

.container-xl {
    max-width: 900px;
    margin: 50px auto; 
}

/* header page */
.header-page {
    display: flex;
    align-items: center;
    height:60px;
}

.header-page__avatar {
    border: 1px solid lightgray;
    padding: 10px;
    background-color: #EAEAEA;
}

.text-name {
    margin:10px;  
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.icon-header { 
    padding: 10px;
    margin:5px;
    width: 25px;
    font-size: 20px;
    align-items: center;
    color: #979797;
}

.img-icon {
border-radius: 50%;
width: 60px;   
padding: 5px; 
display: flex;
align-items: center;
}

.card-img { 
    display: flex;
    align-items: center;
}

.icon {
    display:flex;
    color:white;
    padding: 5px;
}

/* CONTACT */
.icon-notification {
    font-size: 25px;
    padding: 5px;
    background-color: white;
    border-radius: 999%;
    color: #8EDAFA;
    align-items: center; 
}

.notification {
    display: flex;
    padding: 10px;
    background-color: #8EDAFA;
}

.notification__text {
    padding: 5px;
    font-size: 14px;
}

.contacts {
	overflow-y: scroll;

}

.contact-card {
    display: flex;
    border-bottom:  1px solid lightgray;
    height: 60px;
}

.active {
	background-color: gray;
}

.contact__info {
    flex-grow: 2;
    margin-top: 10px;
}

.contact__text {
    color: lightgray;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.time {
    font-size: 12px;
    padding: 6px;
    margin-left: auto;
    color: lightgray;
}

/* CONTENT */
.content {
    display:flex;  
    height: 80vh;
}

.search-input {
    width: 100%;
    height: 30px;
    border: 4px solid whitesmoke;   
}

.group-icon {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
    color: #979797;
}

.input-group {
    position: relative;
}

.chat {
    background-image: url('../img/mine.jpg');
    flex-grow: 1; 
    display: flex;
    flex-direction: column; 
    gap: 13px;
    padding: 30px;
}

.message {
	border-radius: 16px;
	padding: 10px 20px; 
	max-width: 70%;
}

.message.sent {
	background-color: #d5f9ba;
	align-self: flex-end;
}

.message.received {
	background-color: white;
	align-self: flex-start;
}

 /* TOOLBAR */
 .toolbar {
    height: 50px;
    background-color: #EAEAEA;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 25px;
   
 }

 .input_message {
    width: 450px;
    height: 30px;
    border-radius: 5px;
    border:none;
    flex-grow: 1;
    margin-left:20px;
 }

/* .debug {
    border: 1px solid green;
} */