<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="./css/app.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/a095a4bfbe.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="app">
        <div class="container-xl">

            <!-- <HEADER> -->
            <header class="header-page">
                <div class="col-4 header-page__avatar">
                    <div class="card">
                        <div class="card-img">
                            <img class="img-icon" src="./img/avatar_2.jpg" alt="">
                            <h4 class="text-name">{{userName}}</h4>
                        </div>
                        <div>
                            <ul class="icon">
                                <li class="icon-header"><i class="fa-solid fa-message"></i></li>
                            </ul>
                         </div>
                    </div>
                </div>

                <div class="col-8 header-page__avatar">
                    <div class="card">
                        <div class="card-img">
                            <img class="img-icon" src="./img/avatar_1.jpg" alt="">
                            <div>
                                <h4 class="text-name">{{contacts[currentIndex].name }}</h4>
                                <p class="contact__text">Ultimo accesso oggi alle 12:00</p>
                            </div>
                        </div>                       
                        <div>
                            <ul class="icon">
                                <li class="icon-header"><i class="fa-solid fa-magnifying-glass"></i></li>
                                <li class="icon-header"><i class="fa-solid fa-paperclip"></i></li>
                                <li class="icon-header"><i class="fa-solid fa-ellipsis-vertical"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </header>

                     <!-- INIZIO SEZIONE CONTATTI -->
           <section>
            <div class="content">
                <div class="col-4 debug">
                    <div class="notification">
                        <div class="icon-notification"><i class="fa-solid fa-bell-slash"></i></div  >
                        <div class="notification__text">
                            <h4>Ricevi notifiche di nuovi messaggi</h4>
                            <p>Attiva notifiche</p>
                        </div>
                    </div>

                    <div class="search">
                        <input class="search-input" type="text" placeholder=" Cerca o inizia una nuova chat" 
                            v-model="search" @keydown.enter="filteredContacts()">
                    </div>

                    <!-- LISTA CONTATTI -->
                    <ul class="contacts">
                        <li v-for="(contact, index) in contacts"
                            :key="i"
                            class="contact"
                            :class="{'active': i === currentIndex}"
                            :class="(index == currentContact ? 'active' : null)" 
                            @click="setIndexContact(index)">
                        
                            <div class="contact-card">
                                <figure class="contact-img">
                                    <img class="img-icon" :src="contact.avatar" alt="">
                                </figure>
                                <div class="contact__info">
                                    <h4 class="contact__name">{{contact.name}}</h4>
                                    <p class="contact__text">Ultimo messaggio inviato</p>
                                </div>
                                <span class="time">12:00</span>
                                
                            </div>
                            
                        </li>   
                    </ul>
                </div>
                <!-- FINE SEZIONE CONTATTI -->

                <!-- INZIO CHAT -->
                <div class="col-8 debug">
                    <ul class="chat ">
                        <li class="message" :class="message.status" v-for="(message, index) in contacts[currentIndex].messages">
                            {{ message.message }}
                        </li>
                    </ul>
    

                    <!-- TOOLBAR -->
                    <div class="toolbar">
                        <span class="icon-header"><i class="fa-regular fa-face-smile"></i></span>
                        <input class="input_message" type="text" placeholder="Scrivi messaggio"
                            v-model="messageText" @keydown.enter="sendMessage(currentContact)">
                        <span class="icon-header"><i class="fa-solid fa-microphone"></i></span>
                    </div>
                </div> 
                </div>
            </div>
           </section>
        </div>
    </div>
    
    <script src="https://unpkg.com/vue@3"></script>
    <script src="./js/app.js"></script>
</body>
</html>